main{
    padding: 20px 0px;
    border-top: solid 1px white;
}

form{
    width: 940px;
    margin-left: 50px;
}

form label{
    color: white;
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input, form textarea{
    display: block;
    margin: 0 0 20px;
    border: solid 1px black ;
    padding: 10px 20px;
    width: 50%;
}

#submitEnviar{
    transition: 0.5s;
    cursor: pointer;
    width: 510px;
}

#submitEnviar:hover{
    font-size: 15px;
    color: rgb(71, 71, 71);
    background-color: rgb(216, 216, 216);
    border: solid 3px gray;
    
}

